@import "fonts";
@import "mq";
@import "palette";
// @import "enhancer";

.interactive-atom {
    margin: 0;
    padding: 0;
}

// .gv-test-para {
//     @include fs-textSans(4)
// }

.sticky-container-height {
    position: relative;
    display: block;
    border-top: 1px solid #dcdcdc;
    border-bottom: 1px solid #dcdcdc;
    padding-bottom: 30px
    // padding-top: 0;
}

.sticky-container {
    position: relative;
    display: block;
    box-sizing: border-box;
    background: white;
    z-index: 100;
    width: 100%;
    padding: 6px 0 12px;
    border-bottom: 1px solid transparent;

    &.sticky {
        position: fixed;
        top: 0;
        left: 0;
        padding: 6px 10px;
        border-color: $gu-grey-1;
    }
}

body.android,
body.ios {
    .sticky-container.sticky {
        padding: 6px 12px;
    }
}


.elex-map {
    width: 100%;
    max-width: 860px;
    overflow: visible !important;
}

.elex-state {
    // fill: white;
    stroke: #dcdcdc;
}

// .sticky .sticky-inner {
//     box-sizing: border-box;
//     background: red;

//     @include mq(tablet) {
//         max-width: 740px;
//         margin: auto;
//         padding-left: 20px;
//         padding-right: 20px;
//     }

//     @include mq(desktop) {
//         max-width: 960px;
//         margin: auto;
//         padding-left: 20px;
//         padding-right: 20px;
//     }

//     @include mq(leftCol) {
//         max-width: 1140px;
//     }

//     @include mq(wide) {
//         max-width: 1300px;
//     }
// }


.elex-votes-wrapper {
position: relative;
margin: 0 158px;
}

.elex-votes {
    box-sizing: border-box;
    position: relative;
    //margin: 1em 0 2em;
    margin-top: 100px;
    background-color: $gu-grey-4;

    @include mq($until: tablet) {
        margin-top: 0;
        margin-bottom: 1.25em;
    }
}

[class^='elex-votes__'] {
    position: relative;
    width: 100%;
    margin: 0.5em 0;

    @include mq(tablet) {
        margin: 1em 0;
    }

    &.elex-votes__biden {

    &:before {
        display: block;
        content: "";
        position: absolute;
        width: 130px;
        height: 130px;
        border-radius: 50%;
        background: #25428f;
        top: -90px;
        left: 0;
        margin-left: -150px;
    }

    &:after {
        display: block;
        content: "";
        position: absolute;
        width: 130px;
        height: 130px;
        border-radius: 50%;
        background: #25428f;
        top: -90px;
        left: 0;
        margin-left: -150px;
    }

    }

    &.elex-votes__trump {

        &:before {
            display: block;
            content: "";
            position: absolute;
            width: 130px;
            height: 130px;
            border-radius: 50%;
            background: #cc0a11;
            top: -90px;
            right: 0;
            margin-right: -150px;
        }
    
        &:after {
            display: block;
            content: "";
            position: absolute;
            width: 130px;
            height: 130px;
            border-radius: 50%;
            background: #cc0a11;
            top: -90px;
            right: 0;
            margin-right: -150px;
        }
    
        }

  
}


[class^='bar-title'] {
    position: absolute;
    top: -90px;
    left: 0;
    width: 100%;
    transform: translateY(0) !important;
    padding-left: 0!important;
    z-index: 1000;
    background: transparent !important;;
    box-sizing: border-box;
    text-align: left;
    margin-left: 0 !important;
    //@include fs-textSans(1);
    @include fs-titlepiece(1);
    padding-right: 0 !important;

    
    &.bar-title__trump {
        text-align: right;
        color: #cc0a11;

        &:before {
            display: block;
            content: "";
            position: absolute;
            width: 130px;
            height: 130px;
            background: black;
            top: 0;
            right: 0;
            margin-right: -150px;
        }
    
        &:after {
            display: block;
            content: "";
            position: absolute;
            width: 130px;
            height: 130px;
            background: black;
            top: 0;
            right: 0;
            margin-right: -150px;
        }
        

    }

    &.bar-title__biden {
        color: #25428f;

        &:before {
            display: block;
            content: "";
            position: absolute;
            width: 130px;
            height: 130px;
            background: black;
            top: 0;
            left: 0;
            margin-left: -150px;
        }

        &:after {
            display: block;
            content: "";
            position: absolute;
            width: 130px;
            height: 130px;
            background: black;
            top: 0;
            left: 0;
            margin-left: -150px;
        }
    }

    .title-count {
        // @include fs-textSans(2);
        // font-weight: bold;
        position: relative;
        margin-left: 0!important;
        @include fs-titlepiece(1);
        // @include mq($until: tablet) {
        //     display: none;
        // }
        span {
            @include fs-textSans(2);
            display: inline-block;
            position: relative;
            top: -1px;
            margin: 0 10px;
            width: 100px;
            line-height: 16px;
        }
    }

    

    // @include mq(tablet) {
    //     margin-bottom: 0.25em;
    //     @include fs-header(3);
    // }
}

[class^='bar-container'] {
    box-sizing: border-box;
    position: relative;
    height: 36px;
    font-size: 0;
    z-index: 20;

    @include mq(tablet) {
        height: 36px;
        background: none;
    }

    &.bar-container__biden {
        background: #25428f;
        position: absolute
    }

    &.bar-container__trump {
        background: #cc0a11;
    }

    transition: width .8s cubic-bezier(0.5, 0.1, 0.15, 0.98);
}


.elex-votes-finishline {
    position: absolute;
    top: -0.25em;
    bottom: -0.25em;
    border-left: 2px solid $gu-grey-1;

    @include mq(tablet) {
        top: -0.5em;
        bottom: -0.5em;
    }

    transition: left .8s cubic-bezier(0.5, 0.1, 0.15, 0.98);
}

.elex-votes-finish-label {
    position: absolute;
    left: 0;
    transform: translateX(-50%);
    width: auto;
    white-space: nowrap;
    bottom: 100%;
    font-weight: bold;
    @include fs-textSans(2);

    @include mq($until: tablet) {
        top: 105%;
        bottom: auto;


        @include fs-textSans(1);
        transition: left .8s cubic-bezier(0.5, 0.1, 0.15, 0.98);



        @include mq(tablet) {
            @include fs-textSans(3);
        }
    }
}

.state-groups {
    margin-top: 24px;
    display: flex;
    max-width: 1260px;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.state-group {
    flex: 400px 0 0;
    background: #f6f6f6;
    margin: 6px 5px;
    align-self: stretch;
    min-height: 350px;
    width: 400px;
    padding: 6px 5px;
    padding-bottom: 40px;
    box-sizing: border-box;
    position: relative;
    background-color: rgba(0, 0, 0, 0.025);

    // border-radius: 10px;
    border: 1px solid #dcdcdc;

    @include mq($until: tablet) {
        margin: 6px 0;
        flex-basis: 100%;
    }

    &:first-of-type {
        .state-group__evcount::after {
            content: 'electoral votes';
            @include fs-textSans(2);
            display: block;
            margin-left: 5px;
            margin-right: 2px;
        }
    }
}

.state-group__name {
    @include fs-header(3);
    min-height: 32px;
    padding-right: 65px;
    margin-bottom: 3px;
}

.state-group__evcount {
    @include fs-titlepiece(1);
    position: absolute;
    text-align: right;
    right: 5px;
    top: 1px;
}

.state-group__context {
    @include fs-textSans(3);
}

.state-group__states {
    @include fs-headline(1);
    border-bottom: 1px solid #dcdcdc;
    padding-right: 65px;
    padding-bottom: 3px;
}

.state-group-toggle {

    position: absolute;
    bottom: 6px;

    @include fs-textSans(3);
    box-sizing: border-box;
    width: calc(100% - 10px);
    min-height: 32px;
    border: 1px solid #dcdcdc;
    border-radius: 16px;
    background-color: #ffff;

}

.state-group-toggle__option {
    display: inline-block;
    line-height: 32px;
    position: absolute;
    padding: 0 6px;
    box-sizing: border-box;

    width: 33.333333%;
    text-align: center;

    &.state-group-toggle__option--selected {
        //color: white;
        font-weight: bold;
    }

    &.state-group-toggle__option--biden {
        left: 0;
    }

    &.state-group-toggle__option--unselected {
        left: 33.3333%;
        // display: none;
    }

    &.state-group-toggle__option--trump {
        left: 66.6667%;
    }

    cursor: pointer;
}

.state-group-toggle__inner {
    position: absolute;

    left: 0;

    transform: translate(1px, -1px);

    width: 33%;
    background: #dcdcdc;
    min-height: 32px;
    border-radius: 16px;

    transition: left .8s cubic-bezier(0.5, 0.1, 0.15, 0.98), background-color .8s cubic-bezier(0.5, 0.1, 0.15, 0.98);
    ;
}