    <div class="interactive-wrapper">
        <div id="gv-mobile-dummy"></div>
        <h2 class="elex-intro-block"><b>Choose which way the key swing states will vote and trace Biden or Trump's
                potential path to victory.</b></h2>
        <div class="sticky-container-height">
            <div class="sticky-container">
                <div class="sticky-inner">
                    <div class="elex-votes-wrapper">
                        <div class="elex-votes">
                            <div class="elex-votes__biden">
                                <div class="bar-portrait__biden">
                                    <div class="bar-portrait-roundel">
                                        <div class="bar-portrait-roundel-inner"></div>
                                    </div>
                                    <div class="bar-portrait-image-wrapper">
                                        <img class="bar-portrait-image biden-portrait biden-portrait-normal show-portrait"
                                            src="<%= path %>/images/portraits/biden_normal.png" />
                                        <img class="bar-portrait-image biden-portrait biden-portrait-unhappy"
                                            src="<%= path %>/images/portraits/biden_unhappy.png" />
                                        <img class="bar-portrait-image biden-portrait biden-portrait-happy"
                                            src="<%= path %>/images/portraits/biden_happy.png" />
                                    </div>
                                </div>
                                <div class="bar-title__biden"><span class="bar-candidate-name">JOE BIDEN</span><span
                                        class="bar-candidate-name-short">BIDEN</span>
                                    <div class="title-count"><span class="biden-title-count"></span><span
                                            class="title-count-label">electoral college votes</span></div>
                                </div>
                                <div class="bar-container__biden">
                                    <div class="bar-votes__biden"></div>
                                </div>
                            </div>

                            <div class="elex-votes__trump">
                                <div class="bar-portrait__trump">
                                    <div class="bar-portrait-roundel">
                                        <div class="bar-portrait-roundel-inner"></div>
                                    </div>
                                    <div class="bar-portrait-image-wrapper">
                                        <img class="bar-portrait-image trump-portrait trump-portrait-normal show-portrait"
                                            src="<%= path %>/images/portraits/trump_normal.png" />
                                        <img class="bar-portrait-image trump-portrait trump-portrait-unhappy"
                                            src="<%= path %>/images/portraits/trump_unhappy.png" />
                                        <img class="bar-portrait-image trump-portrait trump-portrait-happy"
                                            src="<%= path %>/images/portraits/trump_happy.png" />
                                    </div>
                                </div>
                                <div class="bar-title__trump"><span class="bar-candidate-name">DONALD TRUMP</span><span
                                        class="bar-candidate-name-short">TRUMP</span>
                                    <div class="title-count"><span class="title-count-label">electoral college
                                            votes</span><span class="trump-title-count"></span></div>
                                </div>
                                <div class="bar-container__trump">
                                    <div class="bar-votes__trump"></div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class='state-groups'>
        </div>
        <div class='polling-average-date'>
        </div>
        <div class="finish-card">
            <div class="finish-wrapper">
                <div class="finish-headline-win">
                    <p>Under your scenario,</p>
                    <h2><span class="finish-headline__status"></span> would win the election!</h2>

                </div>
                <div class="finish-headline-tie">
                    <p>Under your scenario,</p>
                    <h2>Nobody would win the election. It's a tie!</h2>
                </div>
                <p class="finish-biden-win"></p>
                </p>
                <p class="finish-trump-win"></p>
                <div class='reset-button-div'>
                </div>

                <div class="gv-map">
                    <svg class='elex-map'></svg>
                </div>
                <div class='finish-tie-text'>
                    <!-- <p><span class="finish-agree-percentage"></span>... of Guardian readers agree with
                you.</p> -->
                    <p>
                        Under a 269-269 tie, the Constitution states that the House of Representatives decides the
                        President. Each state's delegation casts a single vote with a majority of 26 out of 50 needed to
                        win. This
                        is
                        likely to favour the Republicans, in which case Trump would end up staying in the White
                        House.</p>
                </div>
                <div class="finish-portrait-wrapper">
                    <img class="finish-portrait-image biden-win-portrait"
                        src="<%= path %>/images/portraits/biden-win.png" />
                    <img class="finish-portrait-image trump-win-portrait"
                        src="<%= path %>/images/portraits/trump-win.png" />
                </div>
            </div>
        </div>

    </div>