<div class="interactive-wrapper">

    <div class="sticky-container-height">
        <div class="sticky-container">
            <div class="sticky-inner">
                <div class="elex-votes-wrapper">
                <div class="elex-votes">
                    <div class="elex-votes__biden">
                        <div class="bar-title__biden">JOE BIDEN<div class="title-count">218<span>electoral college votes</span></div></div>
                        <div class="bar-container__biden"></div>
                    </div>

                    <div class="elex-votes__trump">
                        <div class="bar-title__trump">DONALD TRUMP<div class="title-count"><span>electoral college votes</span>218</div></div>
                        <div class="bar-container__trump"></div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
    <p class="elex-intro-block"><b>See what happens if different groups of states are added to Biden or Trump’s solid
            votes.</b>
        <div class="state-groups">
        </div>
        <div class="elex-votes-filled">
            Under your scenario, <span class="elex-votes-filled__status"></span> ...would win the presidency.
        </div>
        <div class="gv-map">
            <svg class='elex-map'></svg>
        </div>

</div>